location ^~ /lidarr/api {
    # API Name (for logging)
    set $api_name "Lidarr";

    # Authentication
    include api_auth.conf;

    # Proxy options
    resolver 127.0.0.11 valid=30s;
    set $upstream_lidarr lidarr;
    proxy_pass http://$upstream_lidarr:8686;
}